@import './../../assets/variables.scss';

.display-container {
    max-width: 80%;
    margin: 2rem auto 4rem;

    padding: 2rem;
    border-radius: 1rem;

    background: $off-white;

    color: $main;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

    color: $code-color;

    word-break: break-all;
}