$main: hsl(209, 98%, 23%);
$darker: hsl(209, 98%, 14%);
$lighter: hsl(209, 31%, 50%);

$light: hsl(208, 22%, 73%);
$grayish: hsl(207, 10%, 57%);
$off-white: hsl(209, 55%, 83%);

$button: hsl(0, 0%, 94%);
$button-pressed: hsl(220, 9%, 87%);

$shadow-black: hsl(208, 100%, 3%);
$shadow-white: hsla(0, 0%, 100%, 0.5);

$code-color: hsl(0, 92%, 38%);
$link-color: hsl(0, 83%, 65%);