@import './assets/variables.scss';

/* Setting border-box in the entire document, while allowing for changes to content-box or padding-box if ever required - inheriting the box-sizing property's value keeps an universal selector from overriding the CSS in such scenarios */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // out-of-the-box create-react-app styles
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // my own
  position: relative;

  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: $main;

  color: $light;
}
